<div class="container">
	<h1> Discount Plans  </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @discount_plans.each do |dp| %>
	 	 <tr>
	 	 	<td><%= dp.name %> </th>
	 	 	<td> <%=	link_to  "show", discount_plan_path(dp) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

