<div class="container">
	<h1> Unit Groups  </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Id</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @unit_groups.each do |ug| %>
	 	 <tr>
	 	 	<td><%= ug.id %> </th>
	 	 	<td> <%=	link_to  "show", unit_group_path(ug) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>
