
<div class="container">
	<h1> Channel Rates </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <%  @channel_rates.each do |cr| %>
	 	 <tr>
	 	 	<td><%=cr.channel_name %> </th>
	 	 	<td> <%=	link_to  "show", channel_rate_path(cr) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

