<div class="container">

	<h1>Index</h1>
	<ul class="list-group">
		<li class="list-group-item"><%=	link_to  "Channel Rates", channel_rates_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Client Applications", client_applications_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Discount Plans", discount_plans_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Discount Plan Controls", discount_plan_controls_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Discount Plans Discounts", discount_plan_discounts_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Invoiceable Fees", invoiceable_fees_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Unit Amenities", unit_amenities_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Unit Groups", unit_groups_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Units ", units_url %>  </li>
		<li class="list-group-item"><%=	link_to  "Unit Types", unit_types_url %>  </li>

	</ul>
</div>
