<div class="container">
	<h1> Discount Plan Discounts </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Discount Type</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @Discount_plan_discounts.each do |dpd| %>
	 	 <tr>
	 	 	<td><%= dpd.discount_type %> </th>
	 	 	<td> <%=	link_to  "show", discount_plan_discount_path(dpd) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>
