
<div class="container">
	<h1> Client Applications </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @client_applications.each do |ca| %>
	 	 <tr>
	 	 	<td><%=ca.name %> </th>
	 	 	<td> <%=	link_to  "show", client_application_path(ca) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

