<div class="container">
	<h1> Unit Types  </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @unit_types.each do |uu| %>
	 	 <tr>
	 	 	<td><%= uu.name %> </th>
	 	 	<td> <%=	link_to  "show", unit_type_path(uu) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>
