<div class="container">
	<h1> Invoiceable Fees  </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @invoiceable_fees.each do |ifs| %>
	 	 <tr>
	 	 	<td><%= ifs.product_code %> </th>
	 	 	<td> <%=	link_to  "show", invoiceable_fee_path(ifs) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

