<div class="container">
	<h1> Unit Amenities  </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @unit_amenities.each do |ua| %>
	 	 <tr>
	 	 	<td><%= ua.name %> </th>
	 	 	<td> <%=	link_to  "show", unit_amenity_path(ua) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

