
<div class="container">
	<h1> Units </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Name</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @units.each do |u| %>
	 	 <tr>
	 	 	<td><%=u.name %> </th>
	 	 	<td> <%=	link_to  "show", unit_path(u) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>
