
<div class="container">
	<h1> Discount Plan Controls </h1>
	<table class="table table-hover">
		<thead>
		<tr>
			<th> Requirements</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
	 <% @discount_plan_controls.each do |dpc| %>
	 	 <tr>
	 	 	<td><%= dpc.requirements_text %> </th>
	 	 	<td> <%=	link_to  "show", discount_plan_control_path(dpc) %> </th>
	 	</tr>
	 <%end %>
	</tbody>
</table>
</div>

