
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">ETL exercise</a>
      <a class="navbar-brand" href="/upload">Upload JSON</a>
      <a class="navbar-brand" href="javascript:history.back()">Back</a>

    </div>
    
    </ul>
  </div>
</nav>